@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Kufi+Arabic:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



@utility no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}

@theme {
  --color-primary: #8B2E2E;
  --color-accent: #F5A623;
  --color-tertiary: #3B7A57;

  --color-text-primary: #2C2C2C;
  --color-text-secondary: #6B6B6B;

  --font-primary: "Montserrat","Noto Kufi Arabic", serif;
  --font-secondary: "Roboto","Noto Kufi Arabic", "system-ui", "sans-serif";

}@plugin "daisyui";